@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none; }
  * body {
    background-image: url(../img/background.jpg);
    background-size: cover;
    font-family: 'Lato', sans-serif; }

.titulo {
  padding-left: 2em;
  display: flex;
  flex-direction: column;
  align-items: center; }

.main-container {
  margin-top: 3em;
  margin-bottom: 4em; }

/* Index */
.index-container_foto {
  height: 15em; }

.youtube {
  height: 100%;
  width: 100%; }

/* Fin index */
/* Portfolio */
.portfolio-item2 {
  text-align: justify; }

.lista-portfolio {
  display: flex;
  flex-direction: column;
  font-weight: bold; }
  .lista-portfolio .lista-porfolio_proyecto {
    width: fit-content;
    border-style: solid;
    border-color: #212529;
    padding: 0.9em 0em;
    margin: 1em;
    border-radius: 1em;
    text-align: center; }
    .lista-portfolio .lista-porfolio_proyecto .lista-portfolio_proyecto-link {
      text-decoration: none;
      color: #212529;
      background-color: #c8c8c8;
      border-radius: 1em;
      padding: 1em 2em; }
      .lista-portfolio .lista-porfolio_proyecto .lista-portfolio_proyecto-link:hover {
        text-decoration: none;
        background-color: white;
        border-radius: 1em; }

/* Fin portfolio */
/* Valoraciones */
.valoraciones-item2 {
  text-align: justify; }

.valoraciones-item3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: large;
  font-weight: bold;
  gap: 1em;
  padding-top: 3em; }

.lista-valoraciones {
  padding: 1em;
  text-align: justify; }
  .lista-valoraciones .lista-valoraciones_titulo {
    text-align: center;
    padding-top: 1em;
    font-size: medium;
    font-weight: bold; }

/* Fin valoraciones */
/* Contacto */
.contacto-item2 {
  text-align: justify; }

/* Fin contacto */
/* Sobre mí */
.sobremi-item2 {
  margin-top: 2em;
  gap: 2em;
  text-align: justify; }

/* Fin sobre mí */
.footer-container {
  background-color: #212529;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; }
  .footer-container .copyright {
    color: lightgray;
    font-weight: lighter;
    font-size: small;
    padding-left: 1em;
    margin: 0; }
  .footer-container .imagen-redes {
    filter: invert(97%) sepia(52%) saturate(318%) hue-rotate(301deg) brightness(104%) contrast(101%);
    padding: 0.5em;
    width: 3em; }

.lista-portfolio {
  animation-name: translate;
  animation-iteration-count: 1;
  animation-duration: 1.5s;
  animation-direction: alternate; }

@keyframes translate {
  0% {
    transform: translateX(80px);
    opacity: 0; }
  50% {
    opacity: .5; }
  100% {
    transform: translateX 0px;
    opacity: 1; } }

.index-container_foto {
  animation-name: fadein;
  animation-duration: 1s; }

.portfolio-item1 {
  animation-name: fadein;
  animation-duration: 2s; }

.valoraciones-item1 {
  animation-name: fadein;
  animation-duration: 2s; }

.contacto-item1 {
  animation-name: fadein;
  animation-duration: 2s; }

.sobremi-item1 {
  animation-name: fadein;
  animation-duration: 2s; }

@keyframes fadein {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/* Configuración tablet responsive*/
@media screen and (min-width: 768px) {
  /* Pie de página */
  .footer-container {
    margin-top: 9em; }
  /* Fin pie de página */
  /* Index */
  .index-container_foto {
    height: 20em; }
  /* Fin index */ }

/* Configuración desktop responsive*/
@media screen and (min-width: 1024px) {
  /* Pie de página */
  .footer-container {
    margin-top: 7.5em;
    padding-left: 2em;
    padding-right: 2em; }
    .footer-container .copyright {
      font-size: medium; }
    .footer-container .imagen-redes {
      width: 3em; }
  /* Fin pie de página */
  /* Index */
  .index-container_foto {
    height: 23em; } }

@media screen and (min-width: 1200px) {
  /* Pie de página */
  .footer-container {
    margin-top: 0em; } }
