
.footer-container {
    background-color: $color-dark;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .copyright {
        color: lightgray;
        font-weight: lighter;
        font-size: small;
        padding-left: 1em;
        margin: 0;
    }

    .imagen-redes {
        filter: invert(97%) sepia(52%) saturate(318%) hue-rotate(301deg) brightness(104%) contrast(101%);
        padding: 0.5em;
        width: 3em;
    } 
}



