// General
.main-container {
    margin-top: 3em;
    margin-bottom: 4em;
}
// Fin general


/* Index */
.index-item1{
    @extend .contacto-item1;
    color: white;

}

.index-container_foto {
    height: 15em;
}

.index-texto {
    @include estilo-texto
}
/* Fin index */


/* Portfolio */
.portfolio-item1 {
    @include estilo-titulo;
}

.portfolio-item2 {
    @include estilo-texto
}

.portfolio-link {
    color: $dark;
    text-decoration: none;
    @include estilo-proyecto;

    &:hover {
        color: map-get($colors, blanco);
        -webkit-text-stroke: 1.5px black;
    }
}

.imagen-proyecto {
    max-width: 25em;
    padding: 0;
    border: solid 2px $dark;
    border-radius: 0.5em;
}


/* Fin portfolio */


/* Valoraciones */
.valoraciones-item1 {
    @include estilo-titulo;
}

.valoraciones-item2 {
    @include estilo-texto
}

.valoraciones-item3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: large;
    font-weight: bold;
    gap: 1em;
    padding-top: 3em;
}

.lista-valoraciones {
    padding: 1em;
    @include estilo-texto;

    .lista-valoraciones_titulo {
        text-align: center;
        padding-top: 1em;
        font-size: large;
        font-weight: bold;
    }
}
/* Fin valoraciones */


/* Contacto */
.contacto-item1 {
    @include estilo-titulo;
}

.contacto-item2 {
    @include estilo-texto
}
/* Fin contacto */


/* Sobre mí */
.sobremi-item1 {
    @include estilo-titulo;
}

.sobremi-item2 {
    margin-top: 2em;
    gap: 2em;
    text-align: justify;
}
/* Fin sobre mí */
