// General
.main-container {
    margin-top: 3em;
    margin-bottom: 4em;
}
// Fin general


/* Index */
.index-item1{
    @extend .contacto-item1;
    color: white;

}

.index-container_foto {
    height: 15em;
}

.youtube {
    height:100%;
    width:100%;
}
/* Fin index */


/* Portfolio */
.portfolio-item1 {
    @include estilo-titulo;
}

.portfolio-item2 {
    text-align: justify;
}

.lista-portfolio {
    display: flex;
    flex-direction: column;
    font-weight: bold;

    .lista-porfolio_proyecto {
        width: fit-content;
        border-style: solid;
        border-color: map-get($colors, azul);
        padding: 0.9em 0em;
        margin: 1em;
        border-radius: 1em;
        text-align: center;
        
        .lista-portfolio_proyecto-link {
            text-decoration: none;
            color: $dark;
            background-color: map-get($colors, violeta);
            border-radius: 0.9em;
            padding: 1.1em 2em;

            &:hover {
                text-decoration: none;
                background-color: white;
                border-radius: 1em;
            }
        }

        
    }
}
/* Fin portfolio */


/* Valoraciones */
.valoraciones-item1 {
    @include estilo-titulo;
}

.valoraciones-item2 {
    text-align: justify;
}

.valoraciones-item3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: large;
    font-weight: bold;
    gap: 1em;
    padding-top: 3em;
}

.lista-valoraciones {
    padding: 1em;
    text-align: justify;

    .lista-valoraciones_titulo {
        text-align: center;
        padding-top: 1em;
        font-size: medium;
        font-weight: bold;
    }
}
/* Fin valoraciones */


/* Contacto */
.contacto-item1 {
    @include estilo-titulo;
}

.contacto-item2 {
    text-align: justify;
}
/* Fin contacto */


/* Sobre mí */
.sobremi-item1 {
    @include estilo-titulo;
}

.sobremi-item2 {
    margin-top: 2em;
    gap: 2em;
    text-align: justify;
}
/* Fin sobre mí */
