/* General */
* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
}
body {
    background-image: url(./img/background.jpg);
    background-size: cover;
    font-family: 'Lato', sans-serif; 
}
/* Fin general */


/* Menú de navegación */
.header {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    padding-top: 0.5em;
    background-color: rgb(200, 200, 200);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo {
    font-weight: bolder;
}

.lista-nav {
    padding: 0em;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.lista-nav_item {
    padding: 0.3em;
    font-weight: bold;
}

.lista-nav_item-link {
    font-size: 12.5px;
    color: black;
}

.lista-nav_item-link:hover {
    color: white;
}

.lista-nav_item-link:active {
    color: black;
}
/* Fin menú de navegación */


/* Pie de página */
.footer-container {
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgb(200, 200, 200);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.copyright {
    font-weight: lighter;
    font-size: small;
    padding-left: 1em;
}

.imagen-redes {
    padding: 0.5em;
    width: 3em;
} 
/* Fin pie de página */


/* Index */
.index-container {
    padding-top: 10em;
    padding-bottom: 4em;
    padding-left: 1em;
    padding-right: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.index-item1 {
    align-self: center;
}

.index-container_foto {
    height: 15em;
}

.index-item3 iframe {
    height:100%;
    width:100%;
}
/* Fin index */


/* Portfolio */
.portfolio-container {
    padding-top: 10em;
    padding-bottom: 8em;
    padding-left: 1em;
    padding-right: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
}

.portfolio-item2 {
    padding: 1em;
    text-align: justify;
}

.lista-portfolio {
    padding: 0;
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

.lista-porfolio_proyecto {
    width: fit-content;
    border-style: solid;
    border-color: black;
    padding: 0.8em 0em;
    margin: 1em 0em;
    border-radius: 1em;
    text-align: center; 
}

.lista-portfolio_proyecto-link {
    text-decoration: none;
    color: black;
    background-color: rgb(200, 200, 200);
    border-radius: 1em;
    padding: 1em 2em;
}

.lista-portfolio_proyecto-link:hover {
    text-decoration: none;
    color: black;
    background-color: white;
    border-radius: 1em;
    padding: 1em 2em;
}
/* Fin portfolio */


/* Valoraciones */
.valoraciones-container {
    padding-top: 10em;
    padding-bottom: 4em;
    padding-left: 1em;
    padding-right: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
}

.valoraciones-item2 {
    padding: 1em;
    text-align: justify;
}

.valoraciones-item3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: medium;
    font-weight: bold;
    gap: 1em;
}

.lista-valoraciones {
    padding: 1em;
    text-align: justify;
}

.lista-valoraciones_titulo {
    padding-top: 1em;
    font-size: medium;
    font-weight: bold;
}
/* Fin valoraciones */


/* Contacto */
.contacto-container {
    padding-top: 10em;
    padding-bottom: 8em;
    padding-left: 1em;
    padding-right: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
}

.contacto-item2 {
    padding: 1em;
    text-align: justify;
}

.contacto-item3 {
    font-weight: bold;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    
}

.formulario-item1 {
    display: flex;
    flex-direction: column;
}

.formulario-item2 {
    display: flex;
    flex-direction: column;
}

.formulario-item3 {
    display: flex;
    flex-direction: column;
}

.input-texto {
    border: solid black 0.2em;
}

#boton {
    background: rgb(200, 200, 200);
    height: 2.5em;
    width: 4em;
    border: solid black 0.2em;
}
/* Fin contacto */


/* Sobre mí */
.sobremi-container {
    padding-top: 10em;
    padding-bottom: 20em;
    padding-left: 1em;
    padding-right: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
}

.sobremi-item2 {
    padding: 1em;
    text-align: justify;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}
/* Fin sobre mí */


/* Animaciones */
.lista-portfolio {
    animation-name: translate;
    animation-iteration-count: 1;
    animation-duration: 1.5s;
    animation-direction: alternate;
}
    @keyframes translate {
        0% {
            transform: translateX(80px);
            opacity: 0;
        }
    
        50% {
            opacity: .5;
        }
    
        100% {
            transform: translateX (0px);
            opacity: 1;
        }      
    }

.index-container_foto {
    animation-name: fadein;
    animation-duration: 1s;
}

.portfolio-item1 {
    animation-name: fadein;
    animation-duration: 2s;
}

.valoraciones-item1 {
    animation-name: fadein;
    animation-duration: 2s;
}

.contacto-item1 {
    animation-name: fadein;
    animation-duration: 2s;
}

.sobremi-item1 {
    animation-name: fadein;
    animation-duration: 2s;
}
    @keyframes fadein {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
/* Fin animaciones */


/* Configuración tablet responsive*/

@media screen and (min-width:768px) {


    /* Menú de navegación */
    .header {
        position: static;
        padding-left: 1em;
        padding-right: 1em;   
        display: flex;
        flex-direction: row;
        justify-content: space-between;    
    }

    .header-container {
        padding-top: 00.5em;
        padding-left: 0.5em;
        display: flex;
        flex-direction: column;
        justify-items: center;  
    }

    .lista-nav {
        height: 5em;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }

    .lista-nav_item {
        padding: 0.8em;
        font-weight: bold;
    }

    .lista-nav_item-link {
        font-size: 1.3em;
        color: black;
    }
    /* Fin menú de navegación */


    /* Pie de página */
    .footer-container {
        position: static;
    }
    /* Fin pie de página */


    /* Index */
    .index-container {
        padding: 5em;
        padding-bottom: 6em;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1.5em;   
    }

    .index-container_foto {
        height: 25em;
    }

    .index-item1 {
        justify-self: center;
        grid-row: 1/3;
    }

    .index-item3 iframe {
        height:100%;
        width:100%;
    }
    /* Fin index */


    /* Portfolio */
    .portfolio-container {
        font-size: 1.3em;
        padding-top: 1em;
        padding-bottom: 2em;
        padding-left: 1em;
        padding-right: 1em;
        display: flex;
        flex-direction: column;
        gap: 1em;
        align-items: flex-start;
    }
    /* Fin portfolio */


    /* Valoraciones */
    .valoraciones-container {
        font-size: 1.3em;
        padding-top: 1em;
        padding-bottom: 2em;
        padding-left: 1em;
        padding-right: 1em;
        display: flex;
        flex-direction: column;
        gap: 1em;
        align-items: flex-start;
    }

    .valoraciones-item3 {
        font-size: 1em;
        align-self: center;
    }
    /* Fin valoraciones */


    /* Contacto */
    .contacto-container {
        font-size: 1.3em;
        padding-top: 1em;
        padding-bottom: 2em;
        padding-left: 1em;
        padding-right: 1em;
        display: flex;
        flex-direction: column;
        gap: 1em;
        align-items: flex-start;
    }

    .contacto-item3 {
        align-self: center;
    }
    /* Fin contacto */


    /* Sobre mí */
    .sobremi-container {
        font-size: 1.3em;
        padding-top: 1em;
        padding-bottom: 5.5em;
        padding-left: 1em;
        padding-right: 1em;
        display: flex;
        flex-direction: column;
        gap: 1em;
        align-items: flex-start;
    }
    .sobremi-item2 {
        padding-left: 3em;
        padding-right: 3em;
        gap: 3em;
    }
}



/* Configuración desktop responsive*/

@media screen and (min-width:1024px) {
    
    /* Menú de navegación */
     .lista-nav_item {
        padding: 1.5em;
    }
    /* Fin menú de navegación */


    /* Pie de página */
    .footer-container {
        padding-left: 2em;
        padding-right: 2em;
    }
    .copyright {
        font-size: medium;
    }

    .imagen-redes {
        width: 3em;
    }
    /* Fin pie de página */


    /* Index */
    .index-container {
        padding-top: 3em;
        padding-left: 0em;
        padding-right: 5em;
        padding-bottom: 3em;  
    }

    .index-item1 {
        justify-self: center;
        grid-row: 1/3;
    }

    .index-container_foto {
        height: 34em;
    }

    .index-item3 iframe {
        height: 19em;
    }
    /* Fin index */


    /* Portfolio */
    .portfolio-container {
        padding-left: 2em;
        padding-right: 2em;
    }
    /* Fin portfolio */


    /* Valoraciones */
    .valoraciones-container {
        padding-left: 2em;
        padding-right: 2em;
    }
    /* Fin valoraciones */


    /* Contacto */
    .contacto-container {
        padding-left: 2em;
        padding-right: 2em;
    }
    /* Fin contacto */


    /* Sobre mí */
    .sobremi-container {
        padding-left: 2em;
        padding-right: 2em;
    }
    /* Fin sobre mí */
}