// Map

$colors: (
    "primary": #326dee,
    "secondary": #1ac888,
    "azul": #1919e6,
    "rojo": #e61619,
    "verde": #19e635,
    "violeta": #9900ff,
    "blanco": #ffff,
    "dark": rgb(33, 37, 41),
);

@each $key, $color in $colors {
    .color-#{$key} {
        background-color: $color;
    }
    
}

// Mixin

@mixin estilo-titulo {
    font-size: 40px;
    font-weight: bold;
  }

@mixin estilo-proyecto {
    font-size: 30px;
    font-weight: bold;
}